{% extends "base.html" %}

{% block content %}
<div class="row" id="main">

    <div id="button" class="span4">
        <a class="btn btn-primary btn-large" href="{{ next }}">Teach me something else.</a>
    </div>

    <div id="main" class="span8 pull-right">
        
        <p><iframe width="100%" height="400" src="http://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe></p>

        <div id="ad1">
            <script src="{{ url_for('static', filename='js/ads.js') }}"></script>
            <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            {#
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1794168544677954"
                 data-ad-slot="4723846917"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:50px"
                 data-ad-client="ca-pub-1794168544677954"
                 data-ad-slot="3474112912"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            #}
        </div>
    </div>

    <div class="span4" id="info">
        <h3>{{ video.title }}</h3>
        <h4>
            <a href="{{ video.author_detail.href }}">{{ video.author_detail.name }}</a>
        </h4>
        <p>
            {% if video.duration %}Duration: <strong>{{ video.duration }}</strong>{% endif %}
        </p>
        <div class="sharing">
            <div class="fb-like" data-href="{{ request.url }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>

            <a href="https://twitter.com/share" 
               data-url="{{ request.url }}"
               class="twitter-share-button">Tweet</a>

        </div>
        <div class="description">
            {{ video.description|safe|urlize|markdown }}
        </div>
    </div>

</div>
{% endblock content %}

{% block footer_js %}
{# <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> #}

{% endblock footer_js %}
