<!doctype html>
<html lang="en">
<head>
    <title>Class Roulette!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">
</head>
<body>
    <h1>Class Roulette!</h1>
    <h2>{{ video.title }}</h2>
    {{ video.html|safe }}
</body>
</html>